html {
    scrollbar-arrow-color: #1aa094; /**//*三角箭头的颜色*/
    scrollbar-face-color: #1aa094; /**//*立体滚动条的颜色*/
    scrollbar-3dlight-color: #F5F5F5; /**//*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #F5F5F5; /**//*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #F5F5F5; /**//*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #F5F5F5; /**//*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #F5F5F5; /**//*立体滚动条背景颜色*/
    scrollbar-base-color:#F5F5F5; /**//*滚动条的基本颜色*/
}
.fa{
    margin-right: 3px;
}
.layui-form-pane .layui-form-label{
    width: 200px;
}
.layui-form-pane .layui-input-block{
    margin-left: 200px;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 12px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1aa094;
}
.layui-table-cell .layui-form-checkbox[lay-skin="primary"]{top: 50%;transform: translateY(-50%);}